$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#F18000;
$panGreen: #30B08F;
$white: rgb(251, 251, 251);
$deepdarkbule:#44435F;
$deepgury:#D3D4D7;
$deepbule:#505F99;
$deepskybule:#7396D1;
$lightligthyellow:#F3E3D0;
$lightyellow:#F8CFA3;
$ligthred:#E28899;
$lightpurple:#927AC3;
$coolyellow:#EDC382;
$coolbule:#355B94;
$coolgray:#C3CBD2;
$coolred:#AA3B45;
$bodybule:#3E8EF7;
$grey:rgb(133, 133, 133);